<h1>
  TDIdle
</h1>
<div class="mainContainer">
  <div class="rowContainer">
    <div>
      <canvas #canvasElement width="600" height="600"></canvas>
    </div>
    <div class="panel controlsPanel">
      <div>Wave: {{wave | bigNumber}} ({{creepTypeStrings[this.waveCreepType]}})</div>
      <div>Creeps: {{creeps.length | bigNumber}}</div>
      <div>Leaks: {{leaks | bigNumber}}</div>
      <br>
      <br>
      <div>Cash: ${{cash | bigNumber}}</div>
      <div>Tokens: {{waveTokens | bigNumber}}</div>
      <div>
        <button (click)="pauseClick()">{{paused ? 'Unpause (Space)' : 'Pause (Space)'}}</button>
      </div>
      <div *ngIf="grid.length < maxGridDimension">
        <button (click)="addMazeRow()" [disabled]="waveTokens < expandGridCost">Add Maze Row - {{expandGridCost}} Tokens</button>
      </div>
      <div *ngIf="grid[0].length < maxGridDimension">
        <button (click)="addMazeCol()" [disabled]="waveTokens < expandGridCost">Add Maze Column - {{expandGridCost}} Tokens</button>
      </div>
      <div>
        <button (click)="saveGame()">Save</button>
      </div>
      <div>
        <button (click)="startOver()">Start Over</button>
      </div>
    </div>
  </div>
  <div class="panel buildPanel" *ngIf="selectedSquareType == SquareType.Wall">
    <div *ngIf="selectedTower == null">
      <button (click)="removeWall()" [disabled]="selectedTower != null">Remove Wall (r)</button>
      <div *ngFor="let towerType of towerTypeStrings; index as i">
        <button (click)="buildTower(i)" (mouseenter)="showGhostTower(i)" (mouseleave)="hideGhostTower()" [disabled]="cash < towerCost">Build {{towerTypeStrings[i]}} Tower - ${{towerCost | bigNumber}}</button>
      </div>
    </div>
    <div *ngIf="selectedTower != null" class="rowContainer">
      <div class="subpanel">
        <div>
          {{towerTypeStrings[selectedTower.type]}} Tower
        </div>
        <div>
          Damage: {{selectedTower.damage | bigNumber }} <button (click)="upgradeDamage()">Upgrade</button>
        </div>
        <div>
          Range: {{selectedTower.range | bigNumber}} <button (click)="upgradeRange()">Upgrade</button>
        </div>
        <div>
          Cooldown: {{selectedTower.fireCooldown | bigNumber}}ms <button (click)="upgradeRate()">Upgrade</button>
        </div>
        <button (click)="sellTower()">Sell Tower (s) - Get ${{sellPriceFactor * selectedTower.value | bigNumber}}</button>
      </div>
      <div class="subpanel">
        Target Priorities:
        <div *ngFor="let targetPriority of targetPriorityStrings; index as i">
          <input type="radio" id="target{{i}}" name="targetPriority" [checked]="i == selectedTower.targetPriority" (click)="targetPriorityChange(i)">
          <label for="target{{i}}">{{targetPriorityStrings[i]}}</label>
        </div>
        <input type="checkbox" id="lockTarget" name="lockTarget" [checked]="selectedTower.lockTarget" (click)="toggleTargetPriorityLock()">
        <label for="lockTarget">Stay Locked On Target</label>
      </div>
    </div>

  </div>
  <div class="panel buildPanel" *ngIf="selectedSquareType == SquareType.Open">
    <button (click)="addWall()" [disabled]="busySquare() || cash < wallCost">Build a Wall (b) - ${{wallCost | bigNumber}}</button>
  </div>
  <div class="panel buildPanel" *ngIf="selectedSquareType == SquareType.None">
    <span>Select a square to build walls or towers</span>
  </div>

</div>
